@media (max-width: 535px) {


.col-3, .col-9{
	width: 100%;
}

.suscribe {
	margin: 3% 0;
}

input {
	padding: 2% 20%;
	text-align: center;
}

header img {
	width: 100%;
}

#btn-enviar{
	width: 82%;{
}

}